:root {
    --main-bgr: #fbf5e7;
    --dialog-bgr: #fee6d2;
    --accent: #dadada;
    --dialog-accent: #c7e7d3;
    --white: #fcf3e3;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

